* {
    margin: 0;
    padding: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
}

.textInput {
    position: relative;
    display: block;
}

.datePicker {
    width: 216px;
    margin: 10px;
    color: #c3cbd6;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    transform-origin: center top 0px;
    transition: all .2s ease-in-out;
    position: absolute;
    left: 0px;
    top: 16px;
}
.datePickerHide {
    opacity: 0;
}

.datePickerShow {
    opacity: 1;
}

.dateHeader {
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-bottom: 1px solid #e3e8ee;
}

.left, .right {
    display: inline-block;
    width: 20px;
    height: 24px;
    line-height: 26px;
    margin-top: 4px;
    text-align: center;
    cursor: pointer;
    color: #c3cbd6;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.left {
    float: left;
    margin-left: 10px;
}

.right {
    float: right;
    margin-right: 10px;
}

.dateMain {
    margin: 10px;
}

.dateDay {
    line-height: normal;
    font-size: 0;
    letter-spacing:normal;
}

span {
    display: inline-block;
    text-align: center;
    font-size: 12px;
}

.dateDay span {
    line-height: 24px;
    width: 24px;
    height: 24px;
    margin: 2px;
}

.dateBody span {
    width: 28px;
    height: 28px;
    cursor: pointer;   
}

.dateBody span em {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin: 2px;
    font-style: normal;
    border-radius: 3px;
    text-align: center;
    transition: all .2s ease-in-out;
}

.dateBody span.currentMonth {
    color: #657180;
}

.today:after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #39f;
    position: absolute;
    top: 1px;
    right: 1px;
}

.currentMonth em:hover {
    background-color: #e1f0fe;
}

.col {
    color: #657180;
}

.headerMid {
    cursor: pointer;
}

.headerMid:hover {
    color: #39f;
}

/* second */
.secondPage {
    width: 196px;
    font-size: 0;
}

.secondPage span {
    display: inline-block;
    width: 40px;
    height: 28px;
    line-height: 28px;
    margin: 10px 12px;
    border-radius: 3px;
    cursor: pointer;
}

.secondPage span em {
    display: inline-block;
    width: 40px;
    height: 28px;
    line-height: 28px;
    margin: 0;
    font-style: normal;
    border-radius: 3px;
    text-align: center;
    transition: all .2s ease-in-out;
    color: #657180;
}

.secondPage span em:hover {
    background-color: #e1f0fe;
}


